@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    font-size: 62.5%;
    --hue: 290;
    --primary-color: hsl(var(--hue), 100%, 26%);
    --headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);
    --band-green: hsl(calc(var(--hue) - 22), 23%, 89%);
    --band-beige: hsl(39, 100%, 97%);
    --nav-height: 7.2rem;
    --bg-light: hsl(180, 14%, 97%);
    --brand-dark: hsl(var(--hue), 100%, 14%);
}

html {
    scroll-behavior: smooth;
}

html,
body{
    width: 100%;
    height: 100%; 
}

body {
    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay;
    background-color: var(--bg-light);
}

.wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 2.4rem;
}

section {
    padding-block: 10rem;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

#services .card circle {
    fill: var(--band-green);
}
#navigation .logo path[fill*="#00856F"],
#backToTopButton circle {
    fill: var(--primary-color);
}
body.menu-expanded #navigation .logo path,
#navigation.scroll .logo path {
    fill: white;
}
button.open-menu path[stroke*="#00856F"],
#contact li path {
    stroke: var(--primary-color);
}

#navigation.scroll button.open-menu path[stroke*="#00856F"] {
    stroke: white;
}



.button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4rem;
    width: fit-content;
    height: 5.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    font-family: 'DM Sans';
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1.6rem 3.2rem;
    transition: background 200ms;
}

.button:hover {
    background-color: var(--brand-dark);
}

section header h1 {
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 2.4rem;
}

section header h4 {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: 1.6rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
}

section header h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--headline);
    
}

section .content p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--paragraph);
}

#home:before {
    content: "";
    width: 100%;
    height: calc(108rem + var(--nav-height));
    background-color: var(--band-green);
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


#home {

padding-top: calc(4.1rem + var(--nav-height));
}

#home p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph);
    margin-bottom: 3.2rem;
}

#home .button {
    margin-inline: auto;
}

#home img{
    width: 26.4rem;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
}


.stats {
    width: 32.7rem;
    padding-block: 4rem;
    margin-inline: auto;
    background-color: var(--band-beige);
    border: 1px solid var(--band-green);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    border-radius: .6rem;
}

.stat h3{
    font-weight: 700;
    font-size: 4.8rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 0.4rem;
}

.stat p{
    margin: 0;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
}

nav {
    display: flex;
    height: var(--nav-height);

    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.scroll {
    background-color: var(--primary-color);

}

nav.scroll .logo path {
    fill: white;
}

nav.scroll button path {
    stroke: white;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}

body.menu-expanded {
    overflow: hidden;  
}

body.menu-expanded > :not(nav) {
   visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
} 

.menu {
    transform: translateY(100%);
}

body.menu-expanded .menu {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--primary-color);
    width: 100vw;
    height: 100vh;
    padding-top: var(--nav-height);
    transition: transform 300ms;
    transform: translateY(0);
}

.menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: 6rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
    
}

.menu ul li a{
    color: white;
}

.menu .button {
    background: #FFFFFF;
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    color: var(--primary-color);
    display: inline-block;
    padding: 1.6rem 3.2rem;
    margin-bottom: 8rem;
    margin-top: 4.8rem;
}

.menu .button:hover {
    background-color: var(--primary-color);
    color: white;

    filter: brightness(1.1);
}

.social-link {
    display: flex;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
}

body.menu-expanded .logo,
body.menu-expanded  button {
    position: relative;
    z-index: 100;
}

body.menu-expanded .logo path {
    fill: white;
}

body.menu-expanded button path {
    stroke: white;
    
}

#services header h4{
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 1.6rem   ;
}

#services header h2{
    margin-bottom: 6rem;
}

#services .cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.card {
    padding: 2.4rem;
    text-align: left;
    border: .1rem solid var(--band-green);
    border-radius: .6rem;
    background-color: white;
}

.card h3 {
    margin-block: 1.6rem;
}



#about {
    text-align: left;
    background-color: var(--band-beige);
}

#about header h2 {
    margin-bottom: 2.4rem;
}

#about .content p {
    margin-top: 2.4rem;
    margin-bottom: 2.6rem;
}

#contact {
    text-align: left;
}

#contact header {
    margin-bottom: 3.2rem;
}

#contact ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
}

#contact ul li {
    display: flex;
    align-items: center;
    gap: .8rem;
}

#contact .button {
    margin-bottom: 6rem;
}

#contact img {
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    padding-block: 6rem;
    text-align: left;
    color: white;
}


footer .logo svg {
    width: 23.6rem;
    height: 3.1rem;
}

footer .logo {
    display: inline-block;
    margin-bottom: 2.4rem;
}

footer .logo path {
    fill: white;
}

footer p {
    color: var(--band-beige);
    line-height: 2;
    margin-bottom: 3.2rem;
}

footer .social-link {
    justify-content: flex-start;
}

#backToTopButton {
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;
    opacity: 0;
    visibility: hidden;
    transition: 200ms;
    transform: translateY(100%);
}

#backToTopButton.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}